
@font-face {
    font-family: 'AvantGarde-Demi';
    src: url('../fonts/AvantGarde-Demi.eot') format('embedded-opentype'), url('../fonts/AvantGarde-Demi.svg') format('svg'), url('../fonts/AvantGarde-Demi.ttf') format('truetype'), url('../fonts/AvantGarde-Demi.woff') format('woff'), url('../fonts/avantgd.ttf') format('truetype');
}

body {
    font-family: 'AvantGarde-Demi';
    font-weight: normal;
    font-style: normal;
}
.logo_list 
{
	display:none;
}
/*Madras Race Club Css Start*/
    .madras_race_club_conatiner
    {
        width:90% !important;
        margin:0 auto;
    }
    .main_race_nav nav ul{
        padding: 0;
        list-style: none;
       
    }
	body {
    font-family: 'Open Sans', sans-serif !important;
	}
 .navbar-inverse .navbar-nav > li > a {
		color:#000 !important;
	}
     .main_race_nav nav ul li{
        display: inline-block;
        position: relative;
        line-height: 21px;
        text-align: left;
    }
     .main_race_nav nav ul li a{
            display: block;
            padding: 11px 13px;
            color: #333;
            text-decoration: none;
            font-size: 15px;
    }
     .main_race_nav nav ul li a:hover{
        color: #fff;
        background: #000;
    }
	 .main_race_nav nav ul li ul li a
	{
		font-size:15px;
	}
	.main_race_nav nav ul li ul li a:hover
	{
		background:#000 !important;
		color:#fff !important;
	}
    .main_race_nav ul li ul.dropdown-menu{
        min-width: 100%; /* Set width of the dropdown */
       <!-- background: #f2f2f2; -->
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }
   .main_race_nav nav ul li:hover ul.dropdown-menu{
        display: block;	/* Display the dropdown */
    }
    .main_race_nav nav ul li ul.dropdown-menu li{
        display: block;
    }
    .main_race_nav
    {
        height: 117px !important;
    }
     .main_race_nav nav ul{
        padding: 0;
        list-style: none;
       
    }

	.main_race_nav .navbar-inverse .navbar-nav > li > a {
		color: #000 !important;
	}
    .main_race_nav .container-fluid
    {
        padding-left:0px !important;
         padding-right:0px !important;
    }
    .main_race_nav nav ul li{
        display: inline-block;
        position: relative;
        line-height: 21px;
        text-align: left;
    }
    .main_race_nav nav ul li a{
        display: block;
        padding: 8px 13px;
        color: #333;
        text-decoration: none;
		font-size:15px;
    }
    .main_race_nav nav ul li a:hover{
        color: #fff;
        background: #000;
    }
	.main_race_nav nav ul li ul li a
	{
		font-size:15px;
	}
	nav ul li ul li a:hover
	{
		background:#000 !important;
		color:#fff !important;
	}
    .main_race_nav nav ul li ul.dropdown-menu{
        min-width: 100%; /* Set width of the dropdown */
       <!-- background: #f2f2f2; -->
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }
    .main_race_nav nav ul li:hover ul.dropdown-menu{
        display: block;	/* Display the dropdown */
    }
    .slider_madras_race_club
    {
        padding-left:0px !important;
        padding-right:0px !important;
    }
    .slider_section_new_margin .bx-wrapper
    {
        -webkit-box-shadow:none !important; 
         box-shadow:none !important; 
         border:none !important; 
         background:none !important; 
    }
   
/*Madras Race Club Css End*/
.navbar-brand > img {
    display: block;
    float: right;
    padding: 15px;
}
.navbar-default
{
    left:10px;
}
.container {
    
}

.navbar-brand {
    padding: 0px 0px !important;
}

.mrc_race_head {
    border-right: none !important;
}

.main_head_mrc {
    background-image: url("../img/nav.png");
    background-size: 100% 100%;
    height: 117px;
}

.navbar > .container-fluid .navbar-brand {
    margin-left: -16px !important;
}

.main_header {
    height: 125px;
}

/*.main_head_mrc .col-md-4 {
    width: 26%;
}

.main_head_mrc .col-md-8 {
    width: 73%;
}*/

.top_menu {
}

.main_header .navbar-nav {
    top: 7px;
    position: relative;
}

.madras_race_club.main_head_mrc .col-md-4_indication {
}

.navbar-nav > li {
    padding: 4px !important;
    outline: none !important;
}

    .navbar-nav > li > a {
        color: #000 !important;
        font-family: 'AvantGarde-Demi';
        font-weight: normal;
        font-style: normal;
        text-transform: uppercase;
        outline: none !important;
    }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #000 !important;
    background-color: none;
}

#navbarCollapse > ul > li > a {
    padding: 23px 21px !important;
}

.navbar-inverse {
    background: none !important;
    border: none !important;
}

    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus {
        color: #000 !important;
        background-color: none;
    }

    .navbar-inverse .navbar-nav > .active > a {
        background: none !important;
    }

.navbar-default {
    background: none !important;
    border: none !important;
}

.nav navbar-nav li a {
    color: #000 !important;
    outline: none !important;
}

.navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a {
    background: none !important;
    border-bottom: 3px solid #000;
    outline: none !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover {
    background: none !important;
    border-bottom: 3px solid #000;
}

.navbar-default .navbar-nav > li > a:active {
    border-bottom: 3px solid #000 !important;
}

.bx_slide_fisrt {
    background-image: url('../img/banner.png');
    background-size: 100% 100%;
    height: 650px;
}

.mrc_lodge__slide_fisrt {
    background-image: url('../img/banner_lodge.png');
    background-size: 100% 100%;
    height: 514px;
    border-bottom: 45px solid rgb(255, 255, 255);
}

.madras_welcome_text {
    width: 70%;
    padding-top: 13%;
}

    .madras_welcome_text h1 {
        font-size: 70px;
        color: #fff;
        font-family: 'AvantGarde-Demi';
        font-weight: bold;
        text-shadow: 2px 2px #302D2B;
        text-transform: capitalize;
        /*text-shadow: 2px 2px #FF0000;*/
    }

.madras_race_club_indication {
    color: #fff;
    top: 8px;
    text-transform: uppercase;
    position: relative;
    font-family: 'AvantGarde-Demi';
}

.madras_race_evnts h3 {
    font-family: 'AvantGarde-Demi';
    margin-top: -20px;
    text-align: center;
    background: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 50%;
    height: 35px;
}

.madras_race_club_lodge {
    top: 0px;
    position: relative;
}

.mrc_results table {
    width: 100%;
}

    .mrc_results table tr td {
        text-align: center;
        width: 14.66%;
        color: #fff;
        font-family: 'AvantGarde-Demi';
    }

    .mrc_results table tr {
        line-height: 30px;
    }

        .mrc_results table tr td:nth-child(2) {
            width: 16%;
        }

        .mrc_results table tr td:nth-child(5), .mrc_results table tr td:nth-child(6) {
            width: 25%;
        }

.mrc_results {
    background: #007777;
}

.slider_section .bx-wrapper {
    margin: -8px auto 34px;
}

.mrc_results h5, p, h6 {
    color: #fff !important;
    font-family: 'AvantGarde-Demi';
}

.mrc_fixtures {
    background: #007777;
}

    .mrc_fixtures h6, p {
        text-align: center;
        font-family: 'AvantGarde-Demi';
    }

    .mrc_fixtures ul li {
        list-style: none;
    }

        .mrc_fixtures ul li span {
            color: #fff;
            font-family: 'AvantGarde-Demi';
        }

            .mrc_fixtures ul li span i {
                color: #fff;
                padding: 8px;
            }

.racing_fix {
    margin-bottom: 35px;
}

#datepicker .ui-widget-content {
    background: none !important;
}

#datepicker .ui-widget.ui-widget-content {
    border: none !important;
    height: 288px;
    width: 100%;
}

#datepicker .ui-state-default, .ui-widget-content .ui-state-default {
    background: none !important;
    border: none !important;
}

#datepicker table thead {
    background: #fff !important;
}

#datepicker table tr th, #datepicker tr td {
    width: 14.28% !important;
    text-align: right !important;
    font-family: 'AvantGarde-Demi';
}

#datepicker table tr {
    line-height: 34px;
}

    #datepicker table tr th {
        font-size: 15px;
    }

    #datepicker table tr td a {
        color: #fff !important;
        font-family: 'AvantGarde-Demi';
        font-size: 13px;
    }

#datepicker .ui-widget-header {
    background: none !important;
    border: none !important;
}

.mrc_news_events {
    background: #007777;
    height: 333px;
}

    .mrc_news_events ul li {
        list-style: none;
        line-height: 28px;
        text-align: left;
        color: #fff;
    }

        .mrc_news_events ul li i {
            padding: 5px;
        }

.madras_race_evnts {
    /*margin: 38px;*/
    padding: 30px;
}

.mrc_pho_gallery {
    background: rgb(246, 246, 246) none repeat scroll 0% 0%;
    height: 364px;
}

.photo_gallery .bx-wrapper {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    ;
    border: none !important;
    background: none !important;
    ;
}

.photo_gallery span {
}

#tabs p {
    color: #000 !important;
    text-align: justify;
}

.mrc_statistics .ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
    cursor: pointer !important;
    background: #007c7d;
}

.mrc_statistics .ui-widget-content {
    border: none !important;
}

.mrc_statistics .ui-widget-header {
    background: none !important;
    border: none !important;
}

.mrc_statistics .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    background: #e5e5e5;
    font-family: 'AvantGarde-Demi';
    padding: .5em 4em;
    text-decoration: none;
    height: 45px;
    border-top-right-radius: 10px;
    font-size: 20px;
    border-top-left-radius: 10px;
    outline: none !important;
}

.mrc_statistics .ui-tabs .ui-tabs-nav {
    padding: 0em;
    border-bottom: 3px solid #007c7d !important;
}

.horse_statistics table {
    width: 100%;
}

    .horse_statistics table tr {
        line-height: 30px;
    }

        .horse_statistics table tr td {
            text-align: center;
            font-family: 'AvantGarde-Demi';
        }

.horse_statistics > table > tbody > tr > td:nth-child(1) {
    text-align: left !important;
}

.horse_statistics > table > tbody > tr:nth-child(1) > td {
    font-size: 18px;
    font-family: 'AvantGarde-Demi';
    font-weight: bold;
}

#tabs-1, #tabs-2, #tabs-3 {
    background: #d4edf3;
}

.live_ooty_races {
    background-image: url("../img/live_race.png");
    background-size: 100% 100%;
    height: 248px;
    width: 109%;
}

.live_ooty_races {
    padding-top: 21%;
}

.weather_1 {
    background-image: url(../img/day_weather.png);
    background-size: 100% 100%;
    height: 85px;
    width: 80px;
}

.weather_2 {
    background-image: url(../img/night_weather.png);
    background-size: 100% 100%;
    height: 85px;
    width: 80px;
    margin-bottom: 14px;
}

.weather_md_2 {
    width: 7% !important;
}

.mrc_weather_bott {
    margin-bottom: 0px;
    margin-top: 3px;
}

.mrc_wether_forecast {
    background: #7dc3ff;
    width: 109%;
}

.mrc_weather_head {
    background: #fff;
    color: #000;
    padding: 3px;
    border-top-left-radius: 20px;
    border-top-right-radius: 34px;
}

    .mrc_weather_head p {
        color: #000 !important;
    }

.mrc_day {
    text-align: right !important;
    color: #000 !important;
    margin: 0 0 1px !important;
}

.weather_1 p {
    bottom: 14px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.weather_2 p {
    bottom: 6px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.our_partners {
    background-image: url("../img/Partner_banner.png");
    background-size: 100% 100%;
}

.partner_head {
    padding: 25px;
}

.partner_text span {
    font-family: 'AvantGarde-Demi';
    font-size: 25px;
    color: #fff;
    text-transform: capitalize;
}

.our_mrc_partners {
    width: 9% !important;
}

.footer {
    background: #333333;
    height: 40px;
}

.footer_text {
    text-align: center;
    font-family: 'AvantGarde-Demi';
    color: #fff;
}

.madras_race_club_lodge button {
    text-transform: uppercase;
    background: #FF9600;
    border: none;
    outline: none;
    padding: 8px;
}

.mrc_gallery_text {
    margin-bottom: 10px;
}

    .mrc_gallery_text span {
        font-family: 'AvantGarde-Demi';
        font-size: 20px;
    }

.mrc_ent {
    background: #fff;
}

.slider_section .bx-wrapper {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    background: none !important;
}

.entertaiment_snap {
    margin-bottom: 10px;
}

.mrc_lodge_nav {
    float: right;
}

.lodge_logo {
    top: 8px;
    position: relative;
    width: 290px;
}
 .mrc_fixtures,.mrc_news_events,.mrc_results
  {
        height:363px !important;
 }
/*result section css start*/
    .mrc_result_baner
    {
        background-image:url("../img/inner_banner_race.png");
        background-size:100% 100%;
        height:145px;
    }
    .mrc_results_des
    {
        padding-top:3%;
    }
    .mrc_results_des h4
    {
        text-transform:uppercase;
        color:#fff;
        font-size:40px;
        margin-top: 0px;
        font-family: 'AvantGarde-Demi';
    }
    .mrc_races_header
    {
        background-image:url("../img/blue bg.png");
        background-size:100% 100%;
    }
    .mrc_races_header h3
    {
        text-align:center;
        color:#fff;
        padding:10px;
    } 
    .mrc_races_table
    {
        margin:35px;
    }
    .mrc_races_table_bak
    {
        background-image:url("../img/bg_horse.png");
        background-size:cover;
        background-repeat:no-repeat;
    }
    .mrc-result_race-count button
    {
        width: 13%;
        height: 35px;
    }
    .mrc_race_right-menu button
    {
        border-top-left-radius:30px !important;
        border-bottom-left-radius:30px !important;
        border-top-right-radius:0px !important;
        height:40px;
        margin-bottom:10px;
    }
    .mrc-result_race-count
    {
        padding-top:2%;
    }
    .theni_paltes h4,.mrc_results_rated h4
    {
        text-transform:uppercase;
        color:#fff;
        left: 10px;
        position: relative;
    }
    .mrc_result_plate_details
    {
        background: rgb(61, 61, 61) none repeat scroll 0% 0%;
        height: 40px;

    }
    .mrc_stats table
    {
        width:100%;
        
    }
    .mrc_stats table tr td
    {
        text-align:center;
        font-size:17px;
        font-family: 'AvantGarde-Demi';
        


    }
     .mrc_stats table tr td label
    {
        text-transform:uppercase;
        text-align:left !important;
        margin-bottom: 0px !important;
        float: left;
        padding-left: 50px !important;

    }
     .mrc_stats table tr td font
    {
        text-transform:uppercase;
        font-size: 11px;
     }
     .mrc_stats > table > tbody > tr:nth-child(1) > td:nth-child(4)
     {
         text-align:center !important;
     }
     .mrc_stats > table > tbody > tr > td:nth-child(4)
     {
         
     }
    .mrc_stats
    {
        margin:35px;
    }
    .mrc_stats_bak
    {
        background:#FBECE0;
    }
    .jockey tr td
    {
       text-align:left !important;
    }
    .horse_details table tr:nth-child(1) td
    {
        text-transform:uppercase;
    }
    .horse_details
    {
        background-image:url("../img/orange_with horse.png");
        background-size:100% 100%;
        padding: 35px;
    }
    .horse_details table
    {
        width:60%;
        left: 20%;
        position: relative;
    }
    .horse_details table tr td
    {
        text-align:center;
         font-family: 'AvantGarde-Demi';
        font-size:15px;
        color:#fff;
    }
    .mrc_horse_specification
    {
        margin:35px;
    }
    .horse_mrc_info
    {
        background:#DFC5B2;
        border-bottom-left-radius:20px;
         border-bottom-right-radius:20px;
         margin-bottom: 10px;
        
    }
    .horse_mrc_info span
    {
        font-size:18px;
    }
    .mini_table
    {
        width:100%;
    }
    .mini_table tr td
    {
        text-align:center;
    }
    .mini_table > tbody > tr >td 
    {
        border:1px solid #ccc;
        font-size:15px;
    }
    .mini_table > tbody > tr:nth-child(1) > td:nth-child(1)
    {
        background: rgb(223, 197, 178) none repeat scroll 0% 0%;
        text-transform:uppercase;
        font-weight:bold;
    }
/*result section css End*/
/*race card start*/
    .winning
    {
        background-image:url("../img/green_bg.png");
        background-size:100% 100%;
     
    }
    .race_card_img
    {
        width: 108px;
        float: left;
        height:68px;
        text-align:center;
        color:#fff;
    }
    .second
    {
        background-image:url("../img/blue_bg.png");
        background-size:100% 100%;
    }
    .third
    {
        background-image:url("../img/orange_bg.png");
        background-size:100% 100%;
    }
    .fourth
    {
        background-image:url("../img/pink_bg.png");
        background-size:100% 100%;
    }
    
/*racecard end*/
@media screen and (min-width:250px) and (max-width:649px) {
    .container {
        width: 100% !important;
    }
    .race_card_img
    {
        width:50%;
    }

    .main_head_mrc {
        height: 100%;
        width: 100%;
        background: #fff !important;
    }

    .madras_race_club_indication p {
        color: #000 !important;
    }

    .main_header {
        height: 100%;
    }

    .mrc_lodge_nav {
        width: 100%;
    }

    .main_container {
        background: none !important;
    }


    .gallery img {
        width: 100%;
        margin-bottom: 10px;
    }

    .mrc_lodge_top_menu {
        background: #fff;
        height: 100% !important;
    }

    .main_container {
        height: 100% !important;
    }

    .mrc_lodgr_slider_section .bx-viewport {
        height: 100%;
    }

    .mrc_lodge__slide_fisrt {
        height: 100%;
    }

    .container {
        width: 100% !important;
    }

    .mrc_vaigation {
        height: 100% !important;
    }

    .Gallop {
        height: 100% !important;
    }

    .navbar-nav {
        float: left !important;
        left: 0px;
        width: 100%;
    }

        .navbar-nav li a {
            outline: none;
        }



    .madras_race_club_indication {
        float: left;
        width: 65%;
    }

    .madras_race_club_lodge {
        width: 35%;
        float: left;
    }

    .navbar-brand {
        height: 100% !important;
    }

    .main_head_mrc .col-md-8 {
        width: 100% !important;
    }

    .mrc_day {
        text-align: center !important;
    }

    .weather_1 p {
        top: 63px;
        position: relative;
        text-align: center;
        width: 100%;
    }

    .weather_2 p {
        top: 62px;
        position: relative;
        text-align: center !important;
        width: 100%;
    }

    .mrc_statistics .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        width: 100% !important;
    }

    .ui-tabs .ui-tabs-nav li {
        width: 100% !important;
    }

    .madras_race_evnts h3 {
        font-size: 16px;
    }

    .mrc_pho_gallery {
        height: 100%;
    }

    .our_partner img {
        width: 100%;
        margin-bottom: 8px;
    }

    .slider_section .bx-wrapper {
        height: 100% !important;
    }

    .madras_welcome_text h1 {
        font-size: 35px;
    }

    .bx_slide_fisrt {
        height: 100%;
    }

    .mrc_results, .mrc_fixtures, .mrc_news_events {
        height: 100%;
        margin-bottom: 30px;
    }




    .Gallop .bx-wrapper .bx-controls-direction a {
        position: absolute;
        top: -1% !important;
        margin-top: -23px;
        right: -34px !important;
    }

    .entertaiment_snap img {
        width: 100%;
    }

    .mrc_vaigation {
        background: none !important;
    }

    .madras_race_evnts {
        width: 100%;
    }
    .mrc-result_race-count button
    {
        width:100% !important;
        margin-bottom:10px;
    }
    .mrc_races_header h3 {
    
    font-size: 19px;
    }
    .theni_paltes h4
    {
        font-size:10px;
        left:6px;
        position:relative;
    }
    .mrc_stats table
    {
        max-width:100%;
        overflow:auto;
        display:block;
        position:relative;
    }
}

@media screen and (min-width:650px) and (max-width:999px) {
    .main_header {
        height: 100%;
    }

    #navbarCollapse > ul > li > a {
        padding: 6px 6px !important;
    }

    .gallery img {
        width: 100%;
        margin-bottom: 10px;
    }

    .main_head_mrc {
        height: 100%;
        width: 100%;
        background: #fff !important;
    }

    .madras_race_club_indication p {
        color: #000 !important;
    }

    .main_head_mrc .col-md-8 {
        width: 100% !important;
    }

    .top_menu .col-md-9, .top_menu .col-md-3 {
        float: left !important;
    }

    .main_container {
        background: none !important;
    }

    .col-md-5, .col-md-6, .col-md-4, .col-md-3 {
        width: 100%;
    }

    .container {
        width: 100% !important;
        margin: none !important;
    }

    .mrc_lodge_top_menu {
        background: #fff;
        height: 100% !important;
    }

    .main_container {
        height: 100% !important;
    }

    .mrc_lodgr_slider_section .bx-viewport {
        height: 100%;
    }

    .mrc_lodge__slide_fisrt {
        height: 100%;
    }

    .container {
        width: 100% !important;
    }

    .mrc_vaigation {
        height: 100% !important;
    }

    .Gallop {
        height: 100% !important;
    }

    .navbar-nav {
        float: left !important;
        left: 0px;
        width: 100%;
    }

        .navbar-nav li a {
            outline: none;
        }

    .top_menu {
        background: #000;
        height: 77px;
    }



    .mrc_day {
        text-align: center !important;
    }

    .weather_1 p {
        top: 63px;
        position: relative;
        text-align: center;
        width: 100%;
    }

    .weather_2 p {
        top: 62px;
        position: relative;
        text-align: center !important;
        width: 100%;
    }

    .mrc_statistics .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        width: 100% !important;
    }

    .ui-tabs .ui-tabs-nav li {
        width: 100% !important;
    }

    .madras_race_evnts h3 {
        font-size: 16px;
        margin-top: 0px;
    }

    .mrc_pho_gallery {
        height: 100%;
    }

    .our_partner img {
        width: 100%;
        margin-bottom: 8px;
    }

    .slider_section .bx-wrapper {
        height: 100% !important;
    }

    .madras_welcome_text h1 {
        font-size: 35px;
    }

    .bx_slide_fisrt {
        height: 100%;
    }

    .mrc_results, .mrc_fixtures, .mrc_news_events {
        height: 100%;
        margin-bottom: 10px;
    }

    .photo_gallery > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > a:nth-child(1) {
        left: -5.5% !important;
    }

    .Gallop .bx-wrapper .bx-controls-direction a {
        position: absolute;
        top: -1% !important;
        margin-top: -23px;
        right: -34px !important;
    }

    .entertaiment_snap img {
        width: 100%;
    }

    .mrc_vaigation {
        background: none !important;
    }

    .main_head_mrc .col-md-4 {
        height: 100px;
    }

    .main_head_mrc .col-md-8 {
    }

    .madras_race_club_lodge {
        top: -5px;
        position: relative;
    }
    .mrc-result_race-count button
    {
        width:100% !important;
        margin-bottom:10px;
    }
    .mrc_races_header h3 {
    
    font-size: 19px;
    }
    .theni_paltes h4
    {
        font-size:10px;
        left:6px;
        position:relative;
    }
    .mrc_stats table
    {
        max-width:100%;
        overflow:auto;
        display:block;
        position:relative;
    }
}

@media screen and (min-width:1000px) and (max-width:1120px) {
    .mrc_lodge_nav .navbar-nav {
        left: 0px;
        position: relative;
        top: 11px !important;
    }

    .mrc_lodge_nav .nav > li > a {
        position: relative;
        display: block;
        padding: 0px 0px 0px 0px !important;
    }

    .mrc_vaigation .navbar-brand img {
        width: 190px !important;
    }

    .Gallop .bx-wrapper .bx-controls-direction a {
        right: 71px !important;
    }
}
@media only screen and (max-width:1280px) 
{
    #navbarCollapse > ul > li > a {
        padding: 9px 14px !important;
    }
    .mrc_fixtures,.mrc_news_events,mrc_results
    {
        height:363px !important;
    }
}
@media only screen and (max-width:1366px) {
    .entertaiment_snap img {
        width: 100%;
        height: 100%;
    }

    /*.main_head_mrc .col-md-4 {
        width: 26%;
    }

    .main_head_mrc .col-md-8 {
        width: 73%;
    }*/

    .madras_race_evnts {
     
    }

    .horse_statistics table {
        width: 94.5%;
    }

    .mrc_race img {
        width: 340px !important;
    }

    #navbarCollapse > ul > li > a {
        text-align: left !important;
    }
}


